
<form action="/book_author" method='post'>
  <div class="form-group">

    <label for="book_author">Author</label>
    <input type="text" name="name" class="form-control" id="author">

  </div>
  <button type="submit" class="btn btn-info">Add</button>
</form>
