<form action="/patron_search" method='post'>
  <div class="form-group">
    <label for="name">Search</label>
    <input type="text" name="name" class="form-control" id="name">
  </div>
  <button type="submit" class="btn btn-info">Search</button>
</form>
